{
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "tabWidth": 4,
        "trailingComma": "es5",
        "parser": "typescript",
        "semi": false,
      }
    },
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
